.elementor-628 .elementor-element.elementor-element-72eddcd .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-b9fffff .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-6d9b4a5 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-6d9b4a5 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.elementor-628 .elementor-element.elementor-element-2e445d7 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-628 .elementor-element.elementor-element-05f3bf4 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-5b5314e .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-wrap,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-title,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-sub,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-wm {
    text-align: left;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-wrap {
    width: 100%;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-first-part {
    font-size: 38px;
    line-height: 1.3em;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-icon {
    font-size: 28px;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-wrap svg {
    width: 28px;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-sub {
    color: #FBAA00;
    font-size: 22px;
    font-weight: 600;
}

.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc p,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc div,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h1,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc span,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h3,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h4,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h5,
.elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-desc h6 {
    font-size: 16px;
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-wrap {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-icon img {
    width: 40px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-icon svg {
    width: 40px;
    height: 40px;
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-icon i {
    font-size: 40px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-wrap:hover {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-wrap:hover .tx-icon-box-icon img,
.elementor-628 .elementor-element.elementor-element-8f49f33 .tx-icon-box-wrap:hover .tx-icon-box-icon i {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-wrap {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-icon img {
    width: 40px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-icon svg {
    width: 40px;
    height: 40px;
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-icon i {
    font-size: 40px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-wrap:hover {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-wrap:hover .tx-icon-box-icon img,
.elementor-628 .elementor-element.elementor-element-804459b .tx-icon-box-wrap:hover .tx-icon-box-icon i {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-f14c459>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-link {
    background-color: #F99F19;
    font-weight: 600;
}

.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-0 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-1 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-2 .tx-btn-link:after,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-3:hover .tx-btn-link,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-3 .tx-btn-link:before,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-4 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-5 .tx-btn-link:before,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-6 a:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-7 a:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-8 a:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-9 a:hover,
.elementor-628 .elementor-element.elementor-element-f14c459 .tx-btn-wrap.style-10 a:hover {
    background-color: #FF9900;
}

.elementor-628 .elementor-element.elementor-element-69888ba:not(.elementor-motion-effects-element-type-background),
.elementor-628 .elementor-element.elementor-element-69888ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("images/IMG_20170831_113937_1CS-1024x576-1-1024x576-1.jpg?fit=1024%2C576&ssl=1");
    background-size: cover;
}

.elementor-628 .elementor-element.elementor-element-69888ba>.elementor-background-overlay {
    background-color: #00030B;
    opacity: 0.78;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-628 .elementor-element.elementor-element-69888ba .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-69888ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-628 .elementor-element.elementor-element-992b61e .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-d0e910b .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-d0e910b {
    padding: 0px 0px 50px 0px;
}

.elementor-628 .elementor-element.elementor-element-0818535 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-d8ecd15 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-wrap,
.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-title,
.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-sub,
.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-wm {
    text-align: center;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-wrap {
    width: 100%;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-first-part {
    color: #FFFFFF;
    font-size: 38px;
    line-height: 1.3em;
    letter-spacing: 0.3px;
    word-spacing: 0px;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-icon {
    font-size: 28px;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-wrap svg {
    width: 28px;
}

.elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-sub {
    color: #FB9700;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
}

.elementor-628 .elementor-element.elementor-element-951e32d .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-0aafac7>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-featured a:after {
    display: none;
}

.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-overlay-item:before,
.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-featured a:before {
    background-color: #FB61008C;
}

.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(251, 97.00000000000009, 0, 0.18);
}

.elementor-628 .elementor-element.elementor-element-0aafac7 .tx-services-item .tx-services-title a:hover {
    color: #FAB44C;
}

.elementor-628 .elementor-element.elementor-element-89f6999:not(.elementor-motion-effects-element-type-background),
.elementor-628 .elementor-element.elementor-element-89f6999>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FBAB2D;
}

.elementor-628 .elementor-element.elementor-element-89f6999 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-89f6999 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 45px 0px;
}

.elementor-628 .elementor-element.elementor-element-89f6999>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-628 .elementor-element.elementor-element-79775dc .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-11021bd .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-dff2843 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-b980971 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-wrap,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-title,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-sub,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-wm {
    text-align: center;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-wrap {
    width: 100%;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-first-part {
    color: #FFFFFF;
    font-size: 38px;
    line-height: 1.3em;
    letter-spacing: 0.3px;
    word-spacing: 0px;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-icon {
    font-size: 28px;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-wrap svg {
    width: 28px;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-sub {
    color: #FB6100;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc {
    color: #FFFFFF;
}

.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc p,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc div,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h1,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc span,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h3,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h4,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h5,
.elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-desc h6 {
    font-size: 16px;
}

.elementor-628 .elementor-element.elementor-element-d4b1f2d .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-cd11b32 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-cd11b32 {
    margin-top: 60px;
    margin-bottom: 120px;
}

.elementor-628 .elementor-element.elementor-element-7c5f725 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-7c5f725>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF7D;
}

.elementor-widget-counter .elementor-counter-number-wrapper {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-counter .elementor-counter-title {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-628 .elementor-element.elementor-element-c69a59a .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.elementor-628 .elementor-element.elementor-element-c69a59a .elementor-counter-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-ac92e25 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-ac92e25>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF7D;
}

.elementor-628 .elementor-element.elementor-element-02b252a .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.elementor-628 .elementor-element.elementor-element-02b252a .elementor-counter-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-0396570 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-3de5766 .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.elementor-628 .elementor-element.elementor-element-3de5766 .elementor-counter-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-c8f487e:not(.elementor-motion-effects-element-type-background),
.elementor-628 .elementor-element.elementor-element-c8f487e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-628 .elementor-element.elementor-element-c8f487e .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-c8f487e {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -130px;
    margin-bottom: 130px;
    padding: 80px 45px 75px 45px;
}

.elementor-628 .elementor-element.elementor-element-c8f487e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-628 .elementor-element.elementor-element-23396ad .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-4cacaf6 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-7b7ef7a .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-wrap,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-title,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-sub,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-wm {
    text-align: left;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-wrap {
    width: 100%;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-first-part {
    font-size: 38px;
    line-height: 1.2em;
    letter-spacing: 0.3px;
    word-spacing: 0px;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-last-part {
    color: #FBAB2D;
    font-size: 38px;
    line-height: 1.4em;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-icon {
    font-size: 28px;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-wrap svg {
    width: 28px;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-sub {
    color: #FBAB2D;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
}

.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc p,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc div,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h1,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc span,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h3,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h4,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h5,
.elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-desc h6 {
    font-size: 16px;
}

.elementor-widget-progress .elementor-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: var( --e-global-color-primary);
}

.elementor-628 .elementor-element.elementor-element-65a25c2 .elementor-title {
    color: #585858;
    font-size: 16px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-65a25c2 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FBAB2D;
}

.elementor-628 .elementor-element.elementor-element-65a25c2 .elementor-progress-wrapper {
    background-color: #FBA40054;
    border-radius: 10px;
    overflow: hidden;
}

.elementor-628 .elementor-element.elementor-element-65a25c2 .elementor-progress-bar {
    height: 20px;
    line-height: 20px;
}

.elementor-628 .elementor-element.elementor-element-bfd61ad>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

.elementor-628 .elementor-element.elementor-element-bfd61ad .elementor-title {
    color: #585858;
    font-size: 16px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-bfd61ad .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FBAB2D;
}

.elementor-628 .elementor-element.elementor-element-bfd61ad .elementor-progress-wrapper {
    background-color: #FB9D0054;
    border-radius: 11px;
    overflow: hidden;
}

.elementor-628 .elementor-element.elementor-element-bfd61ad .elementor-progress-bar {
    height: 20px;
    line-height: 20px;
}

.elementor-628 .elementor-element.elementor-element-bf00b02 .elementor-title {
    color: #585858;
    font-size: 16px;
    font-weight: 500;
}

.elementor-628 .elementor-element.elementor-element-bf00b02 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FBAB2D;
}

.elementor-628 .elementor-element.elementor-element-bf00b02 .elementor-progress-wrapper {
    background-color: #FB760054;
    border-radius: 11px;
    overflow: hidden;
}

.elementor-628 .elementor-element.elementor-element-bf00b02 .elementor-progress-bar {
    height: 20px;
    line-height: 20px;
}

.elementor-628 .elementor-element.elementor-element-00a84b4>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-link {
    background-color: #FBAB2D;
    font-weight: 600;
}

.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-0 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-1 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-2 .tx-btn-link:after,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-3:hover .tx-btn-link,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-3 .tx-btn-link:before,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-4 .tx-btn-link:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-5 .tx-btn-link:before,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-6 a:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-7 a:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-8 a:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-9 a:hover,
.elementor-628 .elementor-element.elementor-element-00a84b4 .tx-btn-wrap.style-10 a:hover {
    background-color: #FF9C00;
}

.elementor-628 .elementor-element.elementor-element-9d450ac .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-9d450ac {
    margin-top: -200px;
    margin-bottom: 100px;
    padding: 50px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-b3df1fe .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-b6f4311 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-b6f4311 {
    padding: 0px 0px 50px 0px;
}

.elementor-628 .elementor-element.elementor-element-433f495 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-a003dea .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-wrap,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-title,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-sub,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-wm {
    text-align: center;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-wrap {
    width: 100%;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-first-part {
    color: #FBAA00;
    font-family: "Montserrat", Sans-serif;
    font-size: 38px;
    line-height: 1.3em;
    letter-spacing: 0.3px;
    word-spacing: 0px;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-icon {
    font-size: 28px;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-wrap svg {
    width: 28px;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-sub {
    color: #FB6100;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc {
    color: #585858;
}

.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc p,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc div,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h1,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc span,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h2,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h3,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h4,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h5,
.elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-desc h6 {
    font-size: 16px;
}

.elementor-628 .elementor-element.elementor-element-b2b42aa .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-f0cb580 .details-box {
    min-height: 250px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.elementor-628 .elementor-element.elementor-element-f0cb580 .details-box .post-time,
.elementor-628 .elementor-element.elementor-element-f0cb580 .tx-post-grid-style-2 .tx-date-style,
.elementor-628 .elementor-element.elementor-element-f0cb580 .tx-post-grid-style-3 .tx-date-style {
    background-color: #FBAA00;
}

.elementor-628 .elementor-element.elementor-element-f0cb580 .post-title a:hover {
    color: #FBAA00;
}

.elementor-628 .elementor-element.elementor-element-f0cb580 .tx-post-grid-read-more {
    background-color: #FB9700;
}

.elementor-628 .elementor-element.elementor-element-f0cb580 .tx-post-grid-read-more:hover {
    background-color: #FF9D0B;
}

.elementor-628 .elementor-element.elementor-element-debabd4:not(.elementor-motion-effects-element-type-background),
.elementor-628 .elementor-element.elementor-element-debabd4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FBAB2D;
}

.elementor-628 .elementor-element.elementor-element-debabd4 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-debabd4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -100px;
    padding: 35px 35px 35px 35px;
    z-index: 999;
}

.elementor-628 .elementor-element.elementor-element-debabd4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-628 .elementor-element.elementor-element-7dae513 .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap.style-2.left .tx-icon-box-icon {
    margin-top: 0px;
    margin-right: 9px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon i {
    color: #FFFFFF;
    font-size: 50px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon svg {
    fill: #FFFFFF;
    width: 50px;
    height: 50px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon img {
    width: 50px;
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon img,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon i,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon svg,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap.style-1 .tx-icon-box-icon,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap.style-2.center .tx-icon-box-icon,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap.style-3.center .tx-icon-box-icon i {
    margin-bottom: 0px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon img,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon i,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-icon svg {
    padding: 0px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-title {
    color: #FFFFFF;
    font-size: 26px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc {
    color: #FFFFFFDE;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc p,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc div,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc span,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h1,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h2,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h3,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h4,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h5,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h6 {
    font-size: 16px;
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap:hover {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap:hover .tx-icon-box-icon img,
.elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-wrap:hover .tx-icon-box-icon i {
    transform: rotate(0deg);
}

.elementor-628 .elementor-element.elementor-element-aeb16db .tx-bg-slider .vegas-slide-inner {
    background-size: cover !important;
}

.elementor-628 .elementor-element.elementor-element-2b8e531>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form .wpcf7-textarea {
    height: 200px;
    display: block;
}

.elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form-control {
    margin-top: 25px;
}

.elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form {
    margin-top: -25px;
}

.elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form .wpcf7-submit {
    width: 114px;
    background-color: #000000;
    padding: 10px 10px 10px 10px;
}

.elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form .wpcf7-submit:hover {
    background-color: #182A66;
}

@media(min-width:768px) {
    .elementor-628 .elementor-element.elementor-element-2e445d7 {
        width: 49%;
    }
    .elementor-628 .elementor-element.elementor-element-05f3bf4 {
        width: 4%;
    }
    .elementor-628 .elementor-element.elementor-element-5b5314e {
        width: 46.637%;
    }
    .elementor-628 .elementor-element.elementor-element-0818535 {
        width: 25%;
    }
    .elementor-628 .elementor-element.elementor-element-d8ecd15 {
        width: 49.245%;
    }
    .elementor-628 .elementor-element.elementor-element-951e32d {
        width: 25%;
    }
    .elementor-628 .elementor-element.elementor-element-dff2843 {
        width: 10%;
    }
    .elementor-628 .elementor-element.elementor-element-b980971 {
        width: 79.333%;
    }
    .elementor-628 .elementor-element.elementor-element-d4b1f2d {
        width: 10%;
    }
    .elementor-628 .elementor-element.elementor-element-23396ad {
        width: 46.667%;
    }
    .elementor-628 .elementor-element.elementor-element-4cacaf6 {
        width: 3.476%;
    }
    .elementor-628 .elementor-element.elementor-element-7b7ef7a {
        width: 49.462%;
    }
    .elementor-628 .elementor-element.elementor-element-433f495 {
        width: 10%;
    }
    .elementor-628 .elementor-element.elementor-element-a003dea {
        width: 79.333%;
    }
    .elementor-628 .elementor-element.elementor-element-b2b42aa {
        width: 10%;
    }
    .elementor-628 .elementor-element.elementor-element-7dae513 {
        width: 55.577%;
    }
    .elementor-628 .elementor-element.elementor-element-aeb16db {
        width: 44.376%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-628 .elementor-element.elementor-element-23396ad {
        width: 44%;
    }
    .elementor-628 .elementor-element.elementor-element-4cacaf6 {
        width: 2%;
    }
}

@media(min-width:1025px) {
    .elementor-628 .elementor-element.elementor-element-69888ba:not(.elementor-motion-effects-element-type-background),
    .elementor-628 .elementor-element.elementor-element-69888ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-9a84515 .tx-hd-sub {
        font-size: 18px;
    }
    .elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-9dbfcaa .tx-hd-sub {
        font-size: 18px;
    }
    .elementor-628 .elementor-element.elementor-element-c7420c0 .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-last-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-ac1bf0a .tx-hd-sub {
        font-size: 18px;
    }
    .elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-title {
        font-size: 18px;
    }
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc p,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc div,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc span,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h1,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h2,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h3,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h4,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h5,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h6 {
        font-size: 12px;
    }
    .elementor-628 .elementor-element.elementor-element-2b8e531 .wpcf7-form .wpcf7-submit {
        width: 75px;
        padding: 14px 5px 13px 5px;
        font-size: 11px;
    }
}

@media(max-width:767px) {
    .elementor-628 .elementor-element.elementor-element-45b7bf4 .tx-hd-first-part {
        font-size: 24px;
    }
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-title {
        font-size: 14px;
    }
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc p,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc div,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc span,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h1,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h2,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h3,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h4,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h5,
    .elementor-628 .elementor-element.elementor-element-0ae2435 .tx-icon-box-desc h6 {
        font-size: 10px;
    }
}